<form action="/users/create" method="post" >
    <p>
         Emai-id  : <input type="text" name="email" id="Sign_in-email" required>
    </p>
    <p>
        name  : <input type="text" name="name" id="name" required>
   </p>
    <p>
         Password : <input type="text" name="password" id="Sign-in-pass" required>
     </p>
     <p>
       confirm-Password : <input type="text" name="confirm_password" id="Sign-in-pass" required>
    </p>
     <p>
         <input type="submit" value="Submit">
     </p>
     
 </form>