<form action="/users/create_session" method="post" >
   <p>
        Emai-id  : <input type="text" name="email" id="Sign_in-email" required>
   </p>
   <p>
        Password : <input type="text" name="password" id="Sign-in-pass" required>
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
    
</form>